body{
    background-image: url(./assets/images/mars-back.jpg);
    background-size: cover;

    .modal-dialog {
        max-width: fit-content !important;
    }
}
/* Importing Bootstrap SCSS file. */
//@import '~bootstrap/scss/bootstrap';
